In [1]:
import pandas as pd
import numpy as np

Other packages: pyarrow

In [2]:
train = pd.read_csv("train.csv")
order_feature = pd.read_parquet("order_book_feature.parquet")
order_target = pd.read_parquet("order_book_target.parquet")

In [3]:
train.head()

   time_id  stock_id    target
0       12      8382  0.008714
1       12      9323  0.004731
2       12     22675  0.007892
3       12     22729  0.007427
4       12     22753  0.005196

In [4]:
order_feature.head()

,stock_id,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2
0,8382,12,1.0,722.17,722.63,722.15,722.64,100,25,25,20
1,8382,12,2.0,722.18,722.88,722.17,722.98,25,10,66,100
2,8382,12,3.0,722.33,722.65,722.27,722.74,25,120,200,25
3,8382,12,4.0,722.68,722.98,722.48,723.00,25,100,25,1
4,8382,12,5.0,722.52,722.96,722.42,722.97,125,20,3,110

In [5]:
sample_feature = order_feature[order_feature["time_id"] <=20]

In [6]:
sample_target = order_target[(order_target["time_id"] <= 20) & (order_target["time_id"] >= 12)]

In [7]:
sample_train = train[train["time_id"] <= 20]
sample_train.target = np.square(sample_train.target)

/var/folders/lz/81hq8_d56pjbxtvpn4bqw7hm0000gn/T/ipykernel_97151/1600001155.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_train.target = np.square(sample_train.target)

In [8]:
sample_train.head()

   time_id  stock_id    target
0       12      8382  0.000076
1       12      9323  0.000022
2       12     22675  0.000062
3       12     22729  0.000055
4       12     22753  0.000027

In [9]:
sample_feature["lwap"] = np.log((sample_feature["bid_price1"]*sample_feature["ask_size1"] + sample_feature["ask_price1"]*sample_feature["bid_size1"])/(sample_feature["bid_size1"]+sample_feature["ask_size1"]))
sample_feature["ldiff"] = sample_feature["lwap"].diff()

/var/folders/lz/81hq8_d56pjbxtvpn4bqw7hm0000gn/T/ipykernel_97151/3358830419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_feature["lwap"] = np.log((sample_feature["bid_price1"]*sample_feature["ask_size1"] + sample_feature["ask_price1"]*sample_feature["bid_size1"])/(sample_feature["bid_size1"]+sample_feature["ask_size1"]))
/var/folders/lz/81hq8_d56pjbxtvpn4bqw7hm0000gn/T/ipykernel_97151/3358830419.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_feature["ldiff"] = sample_feature["lwap"].diff()

In [10]:
sample_feature.head()

,stock_id,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2,lwap,ldiff
0,8382,12,1.0,722.17,722.63,722.15,722.64,100,25,25,20,6.582770,NaN
1,8382,12,2.0,722.18,722.88,722.17,722.98,25,10,66,100,6.582967,0.000197
2,8382,12,3.0,722.33,722.65,722.27,722.74,25,120,200,25,6.582558,-0.000408
3,8382,12,4.0,722.68,722.98,722.48,723.00,25,100,25,1,6.583050,0.000491
4,8382,12,5.0,722.52,722.96,722.42,722.97,125,20,3,110,6.583270,0.000220

In [11]:
sample_target["lwap"] = np.log((sample_target["bid_price1"]*sample_target["ask_size1"] + sample_target["ask_price1"]*sample_target["bid_size1"])/(sample_target["bid_size1"]+sample_target["ask_size1"]))
sample_target["ldiff"] = sample_target["lwap"].diff()

/var/folders/lz/81hq8_d56pjbxtvpn4bqw7hm0000gn/T/ipykernel_97151/199674759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_target["lwap"] = np.log((sample_target["bid_price1"]*sample_target["ask_size1"] + sample_target["ask_price1"]*sample_target["bid_size1"])/(sample_target["bid_size1"]+sample_target["ask_size1"]))
/var/folders/lz/81hq8_d56pjbxtvpn4bqw7hm0000gn/T/ipykernel_97151/199674759.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_target["ldiff"] = sample_target["lwap"].diff()

In [12]:
sample_target[(sample_target["stock_id"] == 8382) & (sample_target["time_id"] == 12)]["ldiff"].size

1785

In [13]:
sq1 = pow(np.mean(sample_target[(sample_target["stock_id"] == 8382) & (sample_target["time_id"] == 12)]["ldiff"]),2)

In [14]:
va1 = np.var(sample_target[(sample_target["stock_id"] == 8382) & (sample_target["time_id"] == 12)]["ldiff"])

In [15]:
sample_target[(sample_target["stock_id"] == 8382) & (sample_target["time_id"] == 12)]["ldiff"].size * (sq1 + va1)

7.597218253681513e-05

In [16]:
sample_train.iloc[0,2]

7.592962109001812e-05

In [17]:
sample_target.loc[sample_target["seconds_in_bucket"] == 1800, ["ldiff"]] = 0

In [18]:
group_sample_target = sample_target.groupby(["stock_id","time_id"])["ldiff"].aggregate([np.var, "mean", "count"])

In [19]:
group_sample_target["evol2"] = group_sample_target["count"]*(group_sample_target["var"])

In [20]:
group_sample_target

                           var          mean  count     evol2
stock_id time_id
8382     12       4.255703e-08  2.100064e-06   1785  0.000076
         13       2.647541e-08 -9.272528e-07   1767  0.000047
         14       1.551606e-08  4.947534e-07   1676  0.000026
         15       9.637599e-09 -2.178056e-07   1741  0.000017
         16       1.244515e-08 -1.870956e-06   1735  0.000022
...                        ...           ...    ...       ...
104919   16       1.441981e-09 -5.691841e-07   1798  0.000003
         17       2.450690e-09  1.465582e-06   1800  0.000004
         18       3.769832e-09  1.401753e-06   1800  0.000007
         19       3.396105e-09 -8.921857e-07   1800  0.000006
         20       2.130924e-09 -3.884631e-07   1800  0.000004

[90 rows x 4 columns]

In [21]:
sample_deviance = (group_sample_target["evol2"].values - sample_train.sort_values(["stock_id","time_id"])["target"].values)/group_sample_target["evol2"].values

In [22]:
np.mean(sample_deviance)

0.02956356511638076

In [23]:
np.mean(group_sample_target["mean"])

1.4904640859465932e-07